body {
    background-image: url(./images/desktop-wallpaper-alarm-clock-minimal-background-walpaper-time-to-get-up-aesthetic-clock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cunthrs,
#cuntmin,
#cuntsec {
    width: 5rem;
    height: 3rem;
    margin: 1rem;
    background: none;
    color: #000000;
    font-weight: bold;
}

#stpwtch,
#cunterwtch {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(202, 201, 201), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);
}

#milli,
#cuntmilli {
    font-weight: bold;
    color: rgb(54, 48, 48);
    text-shadow: 1px 1px 2px rgb(202, 201, 201), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);
}

.clock {
    background: rgba(118, 117, 117, 0.358);
    backdrop-filter: blur(9px);
}

.lod {
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);

}

.hed {
    color: rgb(69, 36, 36);
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}

.disp_sw {
    gap: 1em;
}